body > * {
  margin-bottom: 40px;
}

input {
  display: block;
}

ul {
  list-style: none;
}

#gallery {
  display: flex;
}

.picture-container:not(:last-child) {
  margin-right: 10px;
}

.picture-item {
  display: block;
  height: 200px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
